name: CI Pipeline (Shell + Docker)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Build app (shell)
        run: |
          chmod +x scripts/*.sh
          ./scripts/build.sh

      - name: Test app (shell)
        run: |
          ./scripts/test.sh

      - name: Setup Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images (shell)
        run: |
          ./scripts/docker-build.sh
