name: Deploy to EC2

on:
  workflow_run:
    workflows: ["Backend CI", "Frontend CI"]
    types: [completed]

env:
  AWS_REGION: ap-south-1
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no \
              ${{ secrets.EC2_USER }}@${{ secrets.EC2_PUBLIC_IP }} << 'EOF'
            aws ecr get-login-password --region ap-south-1 \
            | docker login --username AWS \
              --password-stdin ${AWS_ACCOUNT_ID}.dkr.ecr.ap-south-1.amazonaws.com

            docker pull ${AWS_ACCOUNT_ID}.dkr.ecr.ap-south-1.amazonaws.com/devops-backend:latest
            docker pull ${AWS_ACCOUNT_ID}.dkr.ecr.ap-south-1.amazonaws.com/devops-frontend:latest

            docker rm -f backend frontend || true

            docker run -d --restart unless-stopped \
              --name backend -p 3000:3000 \
              ${AWS_ACCOUNT_ID}.dkr.ecr.ap-south-1.amazonaws.com/devops-backend:latest

            docker run -d --restart unless-stopped \
              --name frontend -p 80:80 \
              ${AWS_ACCOUNT_ID}.dkr.ecr.ap-south-1.amazonaws.com/devops-frontend:latest
          EOF
