name: Test Frontend & Backend

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install backend deps
        run: |
          cd backend
          npm install

      - name: Run backend test
        run: |
          cd backend
          npm test
